@model  IEnumerable<Post>

<div class="list-group">
    <h3>@ViewBag.PartialViewTitle</h3>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Posts", new { year = item.PublishedDate.Year, month = item.PublishedDate.Month.ToString("D2"), urlSlug = item.UrlSlug})" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@item.Title</h5>

            </div>
            <p class="mb-1">@item.ShortDescription</p>
            <small>@item.PublishedDate</small>
            @*<small>@Html.Action("ConvertTimePublished", "Posts", new { item.PublishedDate })</small>*@
        </a>
    }
</div>
