@model Post
@{
    ViewBag.Title = Model.Title;
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Model.Title</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="single-blog.html">Post Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Blog Area =================-->
<section class="blog_area p_120 single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <img class="img-fluid" src="~/assets/img/home-blog/@Model.ImageUrl" alt="">
                    <a href="#"><h4>@Model.Title</h4></a>
                    <div class="user_details">
                        <div class="float-left">
                            @foreach (var item in Model.Tags)
                            {
                                <a href="@Url.Action("Details", "Tags", new { id = item.Id})">
                                    @item.Name
                                </a>
                            }
                        </div>
                        <div class="float-right"></div>
                    </div>
                    <div class="post-content">
                        <p>@Html.Raw(Model.PostContent)</p>
                    </div>
                    <div class="news_d_footer">
                        
                        <div class="news_socail ml-auto">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="comments-area" id="comment-area">
                    <h4>@Model.Comments.Count @(Model.Comments.Count<=1?"Comment":"Comments")</h4>
                    @Html.Partial("_CommentArea", Model.Comments)
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    @Html.Partial("_RightMenu")
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->