<div class="blog_right_sidebar">
    @Html.Partial("_AboutMe")
    @Html.Action("LastestPosts", "Posts")
    <hr />
    @Html.Action("MostViewPosts", "Posts")
    <hr />
    @Html.Action("HighestPosts", "Posts")
    <hr />
    @Html.Action("CategoryRightMenu", "Categories")
    <hr />
    @Html.Action("PopularTags", "Tags")
    <hr />
</div>
